@using SportsStore.WebUI.HtmlHelpers
@model SportsStore.WebUI.Models.ProductsListViewModel


@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);
}

<div class="pager"> <!--вызываю функцию хелпера, он возвращает мне набор ссылок. Передаю ему информацию о сранице и делегат-->
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>